body {
	box-sizing: border-box;
	background: #FAFAFA;
	text-align: center;
	font-family: 'Fredoka One', Arial, sans-serif;
}

/* Общий стиль, используемый для скрытия/отображенияэлементов */
.invisible {
	display: none !important;
}

.screen__start--game-name {
	margin: 10vh auto;
	color: #FF7043;
	font-size: 17vh;
}

h2 {
	font-size: 10vh;
}

.screen__pause--verdict {
	color: #FFCA28;
}

.screen__win--verdict {
	color: #8BC34A;
}

.screen__lose--verdict {
	color: #f44336;
}

.screen__levels--name {
	margin: 0 auto;
	color: #9575CD;
}

button {
	display: block;
	margin: 10vh auto;
	padding: 1vh;
	width: 40vh;
	border: 0;
	border-radius: 1vh;
	color: #fff;
	font-weight: 300;
	font-size: 5vh;
	cursor: pointer;
	-webkit-transition: all .2s;
	transition: all .2s;
}

button:hover {
	margin-top: 11vh;
	margin-bottom: 9vh;
}

button:hover + button {
	margin-top: 9vh;
}

button:focus {
	outline: none;
}

.btn__start {
	background-color: #81C784;
	box-shadow: 0 1vh #43A047;
}

.btn__start:hover {
	box-shadow: 0 0 #43A047;
}

.btn__continue {
	background-color: #4FC3F7;
	box-shadow: 0 1vh #039BE5;
}

.btn__continue:hover {
	box-shadow: 0 0 #039BE5;
}

.btn__levels {
	background-color: #9575CD;
	box-shadow: 0 1vh #5E35B1;
}

.btn__levels:hover {
	box-shadow: 0 0 #5E35B1;
}

.btn__exit {
	background-color: #E96781;
	box-shadow: 0 1vh #C0526B;
}

.btn__exit:hover {
	box-shadow: 0 0 #C0526B;
}

.btn__tryagain {
	background-color: #F9A825;
	box-shadow: 0 1vh #F57F17;
}

.btn__tryagain:hover {
	box-shadow: 0 0 #F57F17;
}

.screen__game--pause, .screen__levels--back {
	position: absolute;
	top: 1vh;
	left: 1vh;
	margin: 0;
	padding: 1vh;
	width: 8vh;
	height: 8vh;
	border-radius: 1vh;
	background: #E0E0E0;
	box-shadow: none;
	-webkit-transition: none;
	transition: none;
}

.screen__game--pause:hover, .screen__levels--back:hover {
	margin: 0;
	background: #e57373;
	box-shadow: none;
}

.screen__game--pause img, .screen__levels--back img {
	width: 4vh;
	height: 4vh;
}

.screen__game {
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.screen__levels--level-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.screen__levels--level-item {
	margin: 1vh;
	width: 14vh;
	border-width: 1vh;
	border-style: solid;
	border-color: #B10DC9;
	border-radius: 5vh;
	color: #B10DC9;
	text-align: center;
	font-size: 8vh;
	line-height: 14vh;
	cursor: pointer;
}

.screen__levels--level-item:nth-child(7n-6) {
	border-color: #FF4136;
	color: #FF4136;
}

.screen__levels--level-item:nth-child(7n-5) {
	border-color: #FF851B;
	color: #FF851B;
}

.screen__levels--level-item:nth-child(7n-4) {
	border-color: #FFDC00;
	color: #FFDC00;
}

.screen__levels--level-item:nth-child(7n-3) {
	border-color: #2ECC40;
	color: #2ECC40;
}

.screen__levels--level-item:nth-child(7n-2) {
	border-color: #7FDBFF;
	color: #7FDBFF;
}

.screen__levels--level-item:nth-child(7n-1) {
	border-color: #0074D9;
	color: #0074D9;
}
