body {
	overflow: hidden;
	box-sizing: border-box;
	background: #FAFAFA;
	text-align: center;
	font-family: 'Fredoka One', sans-serif;
}

/* Общий стиль, используемый для скрытия/отображенияэлементов */
.invisible {
	display: none !important;
}

.screen__start--game-name {
	margin: 10vh auto;
	color: #FF7043;
	font-size: 17vh;
}

h2 {
	font-size: 10vh;
}

.screen__pause--verdict {
	color: #FFCA28;
}

.screen__win--verdict {
	color: #8BC34A;
}

.screen__lose--verdict {
	color: #f44336;
}

button {
	display: block;
	margin: 10vh auto;
	padding: 1vh;
	width: 40vh;
	border: 0;
	border-radius: 8px;
	color: #fff;
	font-weight: 300;
	font-size: 5vh;
	cursor: pointer;
	-webkit-transition: all .2s;
	transition: all .2s;
}

button:hover {
	margin-top: 11vh;
	margin-bottom: 9vh;
}

button:hover + button {
	margin-top: 9vh;
}

button:focus {
	outline: none;
}

.btn__start {
	background-color: #81C784;
	box-shadow: 0 1vh #43A047;
}

.btn__start:hover {
	box-shadow: 0 0 #43A047;
}

.btn__continue {
	background-color: #4FC3F7;
	box-shadow: 0 1vh #039BE5;
}

.btn__continue:hover {
	box-shadow: 0 0 #039BE5;
}

.btn__exit {
	background-color: #E96781;
	box-shadow: 0 1vh #C0526B;
}

.btn__exit:hover {
	box-shadow: 0 0 #C0526B;
}

.btn__tryagain {
	background-color: #F9A825;
	box-shadow: 0 1vh #F57F17;
}

.btn__tryagain:hover {
	box-shadow: 0 0 #F57F17;
}

.screen__game--pause {
	position: fixed;
	top: 1vh;
	left: 1vh;
	margin: 0;
	padding: 0;
	width: 8vh;
	border-radius: 8px;
	background: #E0E0E0;
	box-shadow: none;
	font-weight: 900;
	font-size: 3vh;
	line-height: 8vh;
	-webkit-transition: none;
	transition: none;
}

.screen__game--pause:hover {
	margin: 0;
	background: #e57373;
	box-shadow: none;
}

.screen__game {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
