.game-screen__bullets ul {
	position: absolute;
	top: 88vh;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	padding-left: 0;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.game-screen__bullet {
	margin: 0 1vh 1vh 1vh;
	padding: 0;
	width: 3vh;
	height: 3vh;
	border-radius: 50%;
	list-style: none;
}

.game-screen__bullet.game-screen__bullet_active {
	position: absolute;
	top: 84vh;
	left: 50%;
	margin: 0 1vh 1vh 0;
	width: 5vh;
	height: 5vh;
	-webkit-transform: translate3d(0,0,0) translate(-50%, -50%);
					transform: translate3d(0,0,0) translate(-50%, -50%);
	-webkit-animation-timing-function: cubic-bezier(0,.27,.93,.87);
					animation-timing-function: cubic-bezier(0,.27,.93,.87);
					backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
					perspective: 1000;
	-webkit-perspective: 1000;
}

@-webkit-keyframes hit {
  0% {
    -webkit-transform: translate3d(0,0,0) translate(-50%, -50%);
    transform: translate3d(0,0,0) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate3d(0,0,0) translate(-50%, -50%);
    transform: translate3d(0,0,0) translate(-50%, -50%);
  }
}

@keyframes hit {
  0% {
    -webkit-transform: translate3d(0,0,0) translate(-50%, -50%);
    transform: translate3d(0,0,0) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate3d(0,0,0) translate(-50%, -50%);
    transform: translate3d(0,0,0) translate(-50%, -50%);
  }
}
