.circle {
	position: relative;
	overflow: hidden;
	margin: 5vh auto;
	width: 40vh;
	height: 40vh;
	border-radius: 50%;
	cursor: default;
}

.circle ul {
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	list-style: none;
}

.circle .circle__center {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	margin: 0 auto;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	background: #EFEBE9;
	box-shadow: 0 0 10px #ccc;
	text-align: center;
	font-size: 10vh;
	line-height: 32vh;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.circle li {
	position: absolute;
	top: -450%;
	left: -450%;
	overflow: hidden;
	width: 500%;
	height: 500%;
	-webkit-transform-origin: 100% 100%;
	        transform-origin: 100% 100%;
}
